<main>
  <p><a routerLink="">Introduction</a></p>
  <p><a routerLink="">Project Angular</a></p>
  <p><a routerLink="">Binding</a></p>
  <p><a routerLink="">Pipes</a></p>
  <p><a routerLink="">Directive</a></p>
  <p><a routerLink="">Input & Output</a></p>
  <p><a routerLink="">Service</a></p>
  <p><a routerLink="">Formulaire</a></p>
  <p><a routerLink="Synthese Routing">Routing</a></p>
  <p><a routerLink="">Storage</a></p>
  <p><a routerLink="">Observable</a></p>
  <p><a routerLink="">HttpClient</a></p>
  <p><a routerLink="">Intercepteur</a></p>
  <p><a routerLink="">Conclusion</a></p>
</main>
