main{
    display: flex;
    margin-bottom: 0;
    
    p{
        border: 1px solid black;
        padding: 10px;
        color: aliceblue;
        background-color: rgb(3, 70, 177);
        margin: 0px;
        flex: 1;
    }
    a{
        text-decoration: none;
        color: aliceblue;
    }
    a:visited{
        color: aliceblue;
    }
    a:active{
        color: aliceblue;
    }
   
}