main{
    display: flex;
    flex-direction: column;
    div{
        flex-direction: row;
        justify-content:space-between;
        button{
            height: 150px;
            width: 150px;
            margin: 100px 20px;
            background:radial-gradient(black,rgb(61, 60, 60));
            color: aliceblue;
            font-weight: bolder;
            font-size: 1.5rem;
            border-radius: 30px;
            
        }
        button:hover{
            background:linear-gradient(rgb(189, 143, 6),rgb(54, 52, 52));
            border: 5px solid rgba(255, 255, 255, 0.737);
        }
    }
}
