<main>
  <h2>Dependance Routing</h2>
  <h4>Définition</h4>
  <p>
    Le routing en Angular est un mécanisme qui permet de gérer la navigation
    dans une application web. Il vous permet de définir des URL pour chaque vue
    ou page de votre application, et lorsque l'utilisateur clique sur un lien ou
    entre une URL spécifique, Angular affiche la vue correspondante sans
    recharger la page entière. En d'autres termes, il permet de créer des
    applications web à pages multiples, où chaque page est une vue différente de
    votre application. Le routing est très utile pour organiser votre
    application en sections logiques, améliorer l'expérience utilisateur en
    permettant une navigation fluide, et rendre votre application plus semblable
    à une application de bureau traditionnelle. C'est un concept clé pour le
    développement d'applications Angular.
  </p>
  <h4>Déroulement</h4>
  <p>
    En principe, sur certaines versions d'Angular, il est possible qu'Angular
    propose l'installation des dépendances pour le routage. Cependant, dans le
    cas contraire, voici le déroulement de l'installation des dépendances.
  </p>
  <h4>instalation manuel</h4>
  <ol>
    <li>cree le app-routing-Modul</li>
    <img src="../../../assets/commandPrompt.png" alt="" />
    <li>Importer les dependance</li>
    <img src="../../../assets/exRouting2.png" alt="" />
    <li>Ecrire les route dans appRouting</li>
    <img src="../../../assets/exempleChemin.png" alt="" />
  </ol>
</main>
