<main>
  <h3><em>PARENT.COMPENENT.HTML</em></h3>

  <!-- 2 ici je passe les proprietée du parent.compenent.ts 
  dans la app-enfant via un   MonInput="{{uneProprietée_init&declarer dans mon parent.compenent.ts}}"
 -->
  <app-input-enfant MonInput="{{ message1 }} "></app-input-enfant>
  <app-input-enfant MonInput="{{ message2 }} "></app-input-enfant>

  <!-- fin  -->
  <!-- 3 _>>  les propriétées du parant passer plus haut avec 
    <app-enfant MonInput="{{ uneProprietée_init&declarer dans mon parent.compenent.ts }}"></app-enfant>
  Receptionner les avec les input() dans enfant.compenent.ts
  et cree un input -->
</main>
