<main>
  <H2>Routeur</H2>
  <h4>Les etapes</h4>
  <ol>
    <li>
      <h5>Créez un bouton qui réagit au clic</h5>
      Dans votre fichier de template HTML (par exemple,
      mon-composant.component.html), ajoutez un bouton avec un événement (click)
      pour réagir au clic de l'utilisateur :
      <img src="../../../assets/boutonEtMethode.png" alt="" />
    </li>
    <li>
      <h5>Définissez le chemin (route) dans votre fichier de routage :</h5>
      Dans votre module de routage (AppRoutingModule ou équivalent), définissez
      le chemin (route) vers la page "À propos" en associant cette route à un
      composant :
      <img src="../../../assets/lespathRouter.png" alt="" />
    </li>
    <li>
      <h5>Implémentez la méthode pour gérer le clic du bouton :</h5>
      Dans le fichier TypeScript de votre composant (par exemple,
      mon-composant.component.ts), définissez la méthode redirectToAbout() pour
      effectuer la navigation vers la route "/about" lorsque le bouton est
      cliqué :
      <img src="../../../assets/methodeRouteur.png" alt="" />
    </li>
    <li></li>
  </ol>
</main>
