*{
    margin: 0;
    padding: 0;
}
body{
    
    background:url(../src/assets/blancc.png)no-repeat center fixed;
    background-size:cover;
}
main{
   
   
    img{
        width: 600px;
        margin: 10px 0;

    }
    h2{
        margin: 0 350px;
        background-color: rgb(255, 255, 0);
        text-align: center;
        font-size: 2rem;
        
    }
    h4,h5,h3{
        text-align: center;
    } 
    .none{
        list-style-type: none;
    }
       ol{
        background-color: rgba(136, 0, 0, 0.676);
        margin: 0 250px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 25px;
        margin: 20px 150px;
       
        li{
            background-color: rgba(239, 224, 224, 0.219);
            width: 600px;
            padding: 10px;
        }
    }
}